@CHARSET "UTF-8";

input[type="text"] {
	width: 20em;
}

h1,h2,h3,h4,h5,h6 {
	color: #0033BB;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
		Verdana, sans-serif;
	margin-bottom: 0.2em;
}

html,body {
	background: #73C0E6;
}

label {
	display: block;
}

.carousel {
	background-color: #EEE;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 104px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 2px 3px;
	white-space: nowrap;
	width: 620px;
}

.module {
	background-color: #EEE;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1em;
	padding: 1em;
	zoom: 1;
}

.module:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.module .row {
	margin-bottom: 10px;
	zoom: 1;
}

.module .row:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pet-desc {
	clear: both;
	float: none;
	margin: 1em auto;
}

.pet-details {
	float: left;
	margin: 0 2em;
}

.pet-name {
	color: mediumBlue;
	font: normal bold 1.5em "Lucida Grande", "Lucida Sans Unicode",
		Helvetica, Arial, Verdana, sans-serif;
}

.pet-thumbnail h4 {
	line-height: 13px;
	margin-bottom: 0;
}

.pet-thumbnail img.shadow:hover {
	cursor: pointer;
	-webkit-box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
	-moz-box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
	box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
}

.slider .pet-thumbnail h3.gender-F {
	color: deepPink;
	line-height: 14px;
}

.slider .pet-thumbnail h3.gender-M {
	color: mediumBlue;
	line-height: 14px;
}

.slider .pet-thumbnail img {
	height: 75px;
	padding: 5px;
	background: white;
	margin: 2px;
}

.slider .pet-thumbnail {
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

.slider {
	position: absolute;
}

.slider-button {
	background-color: transparent;
	border-radius: 5px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: inline-block;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 40px;
	line-height: 96px;
	margin: auto 1px 10px 1px;
	outline: none;
	padding: 0;
	width: 22px;
}

.slider-button:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

.slider-wrapper {
	display: inline-block;
	width: 564px;;
	height: 110px;
	overflow: hidden;
	vertical-align: bottom;
	position: relative;
}

#content {
	background-color: #FFF;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border: 1px solid #CCC;
	margin: 0 auto;
	padding: 20px;
	width: 940px;
}

#gaar-logo {
	margin: 10px auto 10px 20px;
}

#globalheader {
	background: #FFF;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border: 1px solid #CCC;
	border-bottom: none;
	height: 100px;
	margin-bottom: 0;
}

#petCarousels {
	float: left;
	width: 566px;
}

#petDetails {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 8px;
	width: 70px;
}

#petOptions {
	font-size: 0.9em;
	padding-left: 1em;
}

#petThumbnails {
	float: left;
	width: 70px;
	margin: 0 0 0 10px;
	padding: 0 8px;
}

#petThumbnails .pet-thumbnail img {
	margin-bottom: 5px
}

#previewImg {
	height: 200px;
	margin-top: 10px;
	margin-left: 80px;
}