@CHARSET "UTF-8";

blockquote {
	color: #0033BB;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

blockquote.author {
	color: #999;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

form div.module {
	background-color: #F9F9F9;
	border: 1px solid #CCC;
	box-shadow: none;
}

form div.minorElem {
	margin: 0.2em 0;
}

form div.minorElem label {
	font-size: 1em;
	font-weight: normal;
	width: 5em;
}

form div.minorElemBig label {
	font-size: 1em;
	font-weight: normal;
	width: 7.5em;
}

form div.minorElemBigger label {
	font-size: 1em;
	font-weight: normal;
	width: 9.5em;
}

form div.minorElemSmall label {
	font-size: 1em;
	font-weight: normal;
	width: 2em;
}

form div.minorElem label.error, form div.minorElemBig label.error, form div.minorElemBigger label.error, form div.minorElemSmall label.error {
	font-weight: bold;
	width: auto;
}

form div.multi-option {
	margin: .2em 2em .2em 0;
}

h1,h2,h3,h4,h5,h6 {
	color: #0033BB;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
		Verdana, sans-serif;
	margin-bottom: 0.2em;
}

hr {
	border: none;
	border-top: 1px solid #E5E5E5;
	margin: 0.5em auto;
}

html,body {
	background: #FFF url(../images/jimdo_bg.gif) repeat scroll top left;
}

img.inline-left {
	float: left;
	margin-right: 1em;
}

img.inline-right {
	float: right;
	margin-left: 1em;
}

img#whatWeDo {
	float: right;
	margin-left: 1em;
}

input[type="text"] {
	width: 20em;
}

input[type="text"].short {
	width: 10em;
}

input[type="text"].input2char {
	width: 2em;
}

input[type="text"].explanation {
	width: 51.5em;
}

label {
	display: inline-block;
	font-weight: bold;
	font-size: 0.9em;
	width: 10em;
}

label.autoWidth {
	width: auto;
}

label.error {
	color: #E90000;
	display: none;
	margin-left: 1em;
	width: auto;
}

label.inline {
	display: inline;
	margin-right: 1em;
}

label.valid {
	display: none;
}

p {
	margin: 0.5em 0
}

p.answer {
	margin-top: 0;
}

p.question {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1em;
}

p.question.first {
	margin-top: 0;
}

.bordered {
	border: 1px solid #DFDFDF;
}

.carousel {
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 104px;
	margin-bottom: 10px;
	overflow: hidden;
	/*padding: 2px 3px;*/
	white-space: nowrap;
	width: 97%;//620px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

.center {
	text-align: center;
}

.grid3col .column {
	width: 33%;
	margin-left: 0;
}

.grid3cola .column {
	margin-left: 0;
}

.grid4col .column {
	width: 24%;
	margin-left: 0;
}

.grid5col .column {
	width: 19%;
	margin-left: 0;
}

.grid6col .column {
	width: 16%;
	margin-left: 0;
}

.innards {
	margin: 1em;
	zoom: 1;
}
.innards:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.module {
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

.module .row {
	/*margin-bottom: 10px;*/
	zoom: 1;
}

.module .row.last {
	margin-bottom: 0;
}

.module .row:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.module-left {
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	float: left;
	width: 78.5%;
}


.pet-desc {
	clear: both;
	float: none;
	margin: 1em auto;
}

.pet-details {
	float: left;
	margin: 0 2em;
}

.pet-name {
	color: mediumBlue;
	font: normal bold 1.5em "Lucida Grande", "Lucida Sans Unicode",
		Helvetica, Arial, Verdana, sans-serif;
}

.pet-preview {
	margin-bottom: 1.0em;
}

.pet-thumbnail h4 {
	font-weight: normal;
	line-height: 13px;
	margin-bottom: 0;
}

.pet-thumbnail img.shadow:hover {
	cursor: pointer;
	-webkit-box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
	-moz-box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
	box-shadow: rgba(2, 70, 160, 0.5) 0 2px 4px;
}

.pink {
	color: #FF4AA5;
}

.signature {
	border-top: 1px solid #000;
	font-weight: bold;
	margin: 5em auto 1em;
	text-align: center;
	width: 90%;
	text-align: center;
}

.slider .pet-thumbnail h3.gender-F {
	color: deepPink;
	line-height: 14px;
}

.slider .pet-thumbnail h3.gender-M {
	color: mediumBlue;
	line-height: 14px;
}

.slider .pet-thumbnail img {
	height: 75px;
	padding: 5px;
	background: white;
	margin: 2px;
}

.slider .pet-thumbnail {
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
}

.slider {
	position: absolute;
}

.slider-button {
	background-color: transparent;
	border-radius: 5px;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: inline-block;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 40px;
	line-height: 96px;
	margin: auto auto 10px -1px;
	outline: none;
	padding: 0;
	width: 22px;
}

.slider-button:hover {
	background-color: rgba(0, 0, 0, 0.06);
}

.slider-wrapper {
	display: inline-block;
	width: 91%;
	height: 110px;
	overflow: hidden;
	vertical-align: bottom;
	position: relative;
}

.smaller {
	font-size: 0.85em;
}

#applicationTitle {
	bottom: 0.5em;
	color: #03B;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	right: 10em;
	position: absolute;
	font-weight: bold;
	font-size: 2em;
}

#adoptionForm img#petImage {
	height: 100px;
}

#caretakerDiv, #familyAwareDiv {
	display: none;
}

#content {
	/*margin: 0 auto;*/
}

#gaar-logo {
	margin: 10px auto 10px 20px;
}

#globalheader {
	background: #FFF;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	height: 100px;
	margin: 1em auto;
	position: relative;
	width: 100%;
}

#globalheader, #local-nav, .module, .module .row, .module-left {
	margin-bottom: 1em;
}

#globalheader #globalnav {
	position: absolute;
	bottom: 0;
	right: 15px;
}

#globalheader #globalnav li {
	margin-left: 12px;
}

#globalheader #globalnav li a {
	float: none;
	font-weight: normal;
	height: auto;
	width: auto;
}

#globalheader #globalnav-mini {
	display: none;
}

#globalheader .innards {
	margin: 0;
}

#householdMemberAgesDiv,#howContainPetDiv,#petsAllowedDiv,#petsAllowedProofDiv,#whereAppliedDiv,#willingToInstallFenceDiv
	{
	display: none;
}

#householdMemberAgesError {
	color: #E90000;
	display: none;
}

#local-nav { 
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	float: left;
	font-size: .9em;
	width: 17%;
}

#local-nav ul {
	margin-left: -1em;
}

#local-nav ul li a,#local-nav ul li:visited {
	background: url(../images/sub_nav_arrow.gif) no-repeat 5px center;
	display: block;
	margin: 0 0 4px 0;
	padding: 4px 10px 2px 20px;
}

#local-nav ul li a.selected {
	font-weight: bold;
}

#local-nav ul li.separator span {
	background-color: #DDD;
	display: block;
	height: 1px;
	margin-left: 13%;
	width: 70%;
}

#petCarousels {
	float: left;
	width: 70%;//566px;
}

#petDetails {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 8px;
	width: 70px;
}

#petImageContainer {
	float: left;
	text-align: center;
}

#petOptions {
	font-size: 0.9em;
	padding-left: 1em;
}

#petThumbnails {
	float: left;
	margin: 0 0 0 10px;
	padding: 0 8px;
}

#petThumbnails .pet-thumbnail img {
	margin-bottom: 5px
}

#previewImg {
	margin-top: 10px;
}

#sidebar {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	float: right;
	text-align: center;
	width: 20%;
	min-width: 190px;
}

#sidebar img {
	max-width: 172px;
}

#splitContent {
	float: right;
	width: 81.5%;
}

#yearsLived {
	float: left;
	margin-right: 2em;
}

@media only screen and (max-width : 1024px) {
	#content {
		width: 95%;
	}
	#gaar-logo {
		margin: 0 auto;
	}
	#globalheader {
		border-radius: 4px;
		height: auto;
		margin: 2% auto 2% auto;
		text-align: center;
	}
	#globalheader #globalnav {
		position: relative;
		bottom: auto;
		right: auto;
		margin-top: 1%;
	}
	#globalheader #globalnav li {
		margin: auto 0.5em;
	}
	#globalheader #globalnav li a {
		font-size: 1.1em;
	}
	#local-nav {
	
		width: 100%;
	}
	#previewImg {
		display: none;
	}
	#petCarousels {
		width: 100%
	}
	#sidebar {
		width: 32%;
	}
	#splitContent {
		float: left;
		width: 100%;
	}
	.carousel {
		width: 100%;
	}
	.innards, #globalheader .innards {
		margin: 0.7em;
	}
	.module-left {
		width: 65%;
	}
	#globalheader, #local-nav, .module, .module .row, .module-left {
		margin-bottom: 1.5%;
	}
}

@media only screen and (max-width : 500px) {
/*
	#globalheader #globalnav {
		display: block;
		font-size: 2em;
		line-height: 1.5em;
		position: relative;
		right: auto;
	}
	#globalheader #globalnav li {
		background-color: #B2CDDA;
		border: 1px solid #CCC;
		border-radius: 4px;
		display: inline-block;
		font-size: 0.5em;
		margin: 0.2em auto;
		width: 90%;
	}
	#globalheader #globalnav li a {
		color: #333;
		display: inline-block;
		text-indent: 0;
		width: 100%;
	}
*/
	#globalheader #globalnav {
		display: none;
	}
	
	#globalheader #globalnav-mini {
		display: block;
	}

	#main {
		min-width: 0;
	}
	#petCarousels {
		display: none;
	}
	#sidebar {
		display: none;
	}
	.innards, #globalheader .innards {
		margin: 0.5em;
	}
	.module-left {
		border-radius: 4px;
		float: none;
		width: 100%;
	}
	#globalheader, #local-nav, .module, .module .row, .module-left {
		margin-bottom: 2%;
	}
)